
<mat-nav-list>
    <a mat-list-item routerLink="/main" (click)="close()">
        <mat-icon>grid_view</mat-icon>
        <span>Főoldal</span>
    </a>
    <a mat-list-item routerLink="/report" (click)="close()" *ngIf="loggedInUser">
        <mat-icon>report</mat-icon>
        <span>Lejelentés</span>
    </a>
    <a mat-list-item routerLink="/old-reports" (click)="close()" *ngIf="loggedInUser">
        <mat-icon>info</mat-icon>
        <span>Statisztika</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedInUser">
        <mat-icon>login</mat-icon>
        <span>Bejelentkezés</span>
    </a>
    <a mat-list-item routerLink="/register" (click)="close()" *ngIf="!loggedInUser" >
        <mat-icon>app_registration</mat-icon>
        <span>Regisztráció</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="loggedInUser" >
        <mat-icon>logout</mat-icon>
        <span>Kijelentkezés</span>
    </a>
</mat-nav-list>