mat-card{
    width:20%;
    background-color: lightgray;
    min-height: 40vh;
}

.div-flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
}
.main_component{
    min-height: 100vh;
}

mat-card-header{
    display:initial;
}
